* {
	--bg: #FFF3E0;
 	--primary: #E57373;
}

body {
	background: var(--bg);
	color: var(--primary);
}

span {
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

#navbar {
	min-height: 65px;
}

.nav {
	background: var(--primary);
	color: var(--bg);
	float: left;
	width: 75px;
	border-radius: 5px;
	margin: 10 10 10 10;
	padding-top: 10px;
	padding-bottom: 10px;
	align-self: center;
}

.captioned {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	float: left;
 }

.overlay {	
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;			
    text-align: center;			
    padding: 10px;				
    font-size: 24px;		
    background: white;	
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;		
}

.chart {
	margin: 20 20 20 20;
}

.chartLabel {
	fill: var(--primary);
	font-size: 18px;
}
