* {
	--bg: #FFF3E0;
 	--primary: #E57373;
}

body {
	background: var(--bg);
	color: var(--primary);
	padding: 0 10px 0 10px;
}

span {
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

#navbar {
	min-height: 65px;
}

.nav {
	background: var(--primary);
	color: var(--bg);
	float: left;
	width: 125px;
	border-radius: 5px;
	margin: 10 10 10 10;
	padding-top: 10px;
	padding-bottom: 10px;
	align-self: center;
}

.captioned {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	float: left;
 }

.overlay {	
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;			
    text-align: center;			
    padding: 10px;				
    font-size: 24px;		
    background: white;	
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;		
}

.chart {
	margin: 20 60 20 60;
	float: left;
}

.chartLabel {
	fill: var(--primary);
	font-size: 18px;
}

.card {
	text-align: center;
}

#spinners {
	margin: 80 20 80 20;
}

.unfocus {
	font-size: 24px;
}
.focus {
	font-size: 36px;
}

.controls {
	text-align: center;
}

button {
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: var(--bg);
	border: none;
	background-color: var(--primary);
	min-width: 150px;
	border-radius: 5px;
	text-align: center;
}

button:focus {
  outline: none;
}

button:disabled {
	background-color: var(--bg);
}
